$main-color: #fed136;
$main-font: 'Montserrat',
sans-serif;
$main-font-color: #222222;
$second-font-color: #777777;

.body {
    font-family: $main-font;
}

/* Header */
nav {
    z-index: 1;
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {

    color: white;
    font-weight: 400;
}

.navbar-nav ul li {
    padding: auto 20px;
}


.wrapper {
    height: 700px;
    position: relative;
    background-image: url("/images/Background.png");
    color: #fff;
    margin-top: -58px;

    .row {
        height: 700px;
    }

    .btn-primary {
        margin-top: 20px;
        padding: 16px 52px;
        font-weight: 700;
    }

    .btn-primary:hover {
        background-color: $main-color;
    }

    h3 {
        font-size: 50px;
        font-style: italic;
        font-weight: 100;
    }

    h1 {
        font-size: 72px;
    }
}


.wrapper:before {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.btn-primary {
    background-color: $main-color;
    padding: 12px 20px;
    justify-content: center;
    border: 0;
}

.wrapper-text {
    align-items: center;
    margin-top: auto;
    display: flex;
    height: 100%;

}

/* Services */
.services {
    padding: 80px 0;

    .row {
        padding-top: 60px;
    }

    h2 {
        font-weight: 700;
    }

    img {
        padding-bottom: 20px;
    }
}

/* Portfolio */
.portfolio {
    background-color: #f7f7f7;
    padding: 80px 0;

    .row {
        padding-top: 30px;
    }


    h2 {
        font-weight: 700;
    }

    h5 {
        font-weight: 700;
    }

    p {
        font-style: italic;
    }
}

.card {
    border: none;
}

/* Footer */

footer {
    padding: 30px 0;

    ul {
        display: inline-block;

        li {
            width: 40px;
            height: 40px;
            background-color: black;
            border-radius: 50%;
            line-height: 40px;

        }

    }

    a {
        font-size: 20px;
        color: #fff;
    }

    .social {
        margin: 0 auto;
    }


}