$main-color: #fed136;
$main-font: 'Montserrat',
sans-serif;
$main-font-color: #222222;
$second-font-color: #777777;

.body {
    font-family: $main-font;
}

/* Header */
nav {
    z-index: 1;

    a {
        color: #fff;
    }
}

.wrapper {
    height: 700px;
    position: relative;

    background-image: url("/images/Background.png");
    color: #fff;
    margin-top: -58px;
}

.wrapper:before {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.btn-primary {
    background-color: $main-color;
    padding: 12px 20px;
    justify-content: center;
    border: 0;
}

/* Services */
.services {
    padding: 80px 0;

    .row {
        padding-top: 60px;
    }

    h2 {
        font-weight: 700;
    }

    img {
        padding-bottom: 20px;
    }
}

/* Portfolio */
.portfolio {
    background-color: #f7f7f7;
    padding: 80px 0;

    .row {
        padding-top: 30px;
    }


    h2 {
        font-weight: 700;
    }

    h5 {
        font-weight: 700;
    }

    p {
        font-style: italic;
    }
}

.card {
    border: none;
}